.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-register {
  background-image: linear-gradient(to right, #5a9dea 0%, #125697 100%);
  padding: 11px 28px;
  color: white;
  &:hover {
    background-image: linear-gradient(to right, #125697 0%, #5a9dea 100%);
  }
}

.btn-login {
  font-size: 14px;
  color: #999999;
  padding: 9px 28px;
  border: solid 2px #999999;
  &:hover {
    background-color: rgba(164, 164, 164, 0.1);
  }
}

.cta-btn {
  color: white;
  background-image: linear-gradient(to top, #ff9845 0%, #ffb134 100%);
  padding: 20px 40px;
  border-radius: 6px;
  border: none;
  outline: none;
  &:hover {
    background-image: linear-gradient(to top, #ffb134 0%, #ff9845 100%);
  }
}

.btn-regular {
  color: white;
  padding: 18px 40px;
  border: solid 2px white;
  border-radius: 6px;
  &:hover {
    background-color: rgba(255,255,255,.2);
  }
}

@media all and ( max-width: 992px ) {
  .btn {
    font-size: 12px;
    margin-bottom: 25px;
    width: 158px;
    text-align: center;
  }
  .cta-btn {
    padding: 15px;
  }
  .btn-regular {
    padding: 13px;
  }
}