.time {
  position:relative;
  display: block;
  width: 60px;
  height: 60px;
  font-size:20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #ccc;
  //margin: 20px auto;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 50%;
}
.centerClock {
  position: absolute;
  left: 26px;
  top: 27px;
  content: "";
  padding: 3px;
  border-radius: 3px;
  background: white;
  z-index: 5;
}
.second, .minute, .hour {
  position: absolute;
  display: block;
  content: "";
  padding: 30px 1px;


}
.second:after, .minute:after, .hour:after{
  position:absolute;
  left: 0px;
  content: "";
}
.second { left: 28px; z-index: 4; }
.second:after {
  top: 3px;
  padding: 6px 1px 20px 0px;


  background: white;
}
.minute { left: 29px; z-index: 3; }
.minute:after {
  top: 10px;
  padding: 10px 1px;
  background: white;
}
.hour {    left: 27px; z-index: 2; }
.hour:after {
  top: 15px;
  padding: 5px 2px 10px 1px;

  border-radius: 2px 2px 0 0;
  background: white;
}
.clock {
  position:absolute;
  left: 43px;
  top: 70px;
  font-size: 10px;
}
