.container {
  width: 100%;
  margin: 0 auto;
  @media only screen and (min-width: 1200px) {
    width: 1170px;
  }
  @media only screen and (max-width: 1200px) {
    width: 970px;
  }
  @media only screen and (max-width: 992px) {
    width: 750px;
    padding: 0 20px;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3%;
}

.col-1-4 {
  width: 25%;
}

[class*='col-'] {
  padding-right: 15px;
  //padding-left: 15px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

@media all and ( max-width: 992px ) {
  //.col-1-2 { padding-right: 0}
}

@media all and ( max-width: 768px ) {
  .col-1-2 { width: 100% }
  .col-1-3 { width: 50% }
  .col-1-4 { width: 50% }
  .col-1-4:nth-child(2n) {
    padding-right: 0;
  }
}

