// MQ trigger
@mixin small {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

// colores
$color: #8f8f8f;
$color2: #e8f380;

// Navigation
.main_h {
  padding: 10px 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  //position: relative;
  //max-height: 70px;
  //height: 70px;
  background-color: white;
  z-index: 999;
  width: 100%;
  //padding: 20px;
  //background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  //top:0;
  //top: -100px;
  font-family: "Montserrat", sans-serif;
  @include small {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;

  .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

//.sticky {
//  background-color: rgba(255, 255, 255, 0.93);
//  opacity: 1;
//  top: 0px;
//  border-bottom: 1px solid lighten($color, 30%);
//}

.logo {
  display: inline-block;
  img {
    float: left;
  }
  @include small {
    //float: none;
  }
}

nav {
  //float: right;
  //width: 60%;
  @include small {
    width: 100%;
  }

  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    @include small {
      padding-top: 10px;
      margin-bottom: 22px;
      //float: left;
      text-align: center;
      width: 100%;
    }

    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
      @include small {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
    a {
      color: #444444;
      text-transform: uppercase;
      font-size: 12px;
      text-decoration: none;
      font-weight: 600;
    }
    a.active {

      color: #5a9dea;
    }
  }
}

.sign-nav {
  .btn {
    margin-left: 20px;
  }
  form {
    display: inline-block;
    select {
      border: none;
      font-size: 14px;
      color: #429fcb;
      text-transform: uppercase;
      font-weight: 700;
      outline: none;
    }
  }
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  @include small {
    display: block;
  }

  span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: $color;
    display: block;
  }
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}