// MQ trigger
@mixin small {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

.show-mobile {
  display: none;
  @media only screen and (max-width: 992px) {
    display: block !important;
  }
}

.hide-mobile {
  display: block;
  @media only screen and (max-width: 992px) {
    display: none !important;
  }
}



// Navigation
header {
  padding: 10px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: white;
  z-index: 999;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  @include small {
    .nav {
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      overflow: hidden;
      padding: 0;
      //display: none;
      height: 1px;
    }
  }
}


.show-mobile {
  text-align: center;
}
.wrap-btn-language {
  border: solid 1px white;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  a {
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    float: left;
  }
  a.active {
    color: #2f2c3a;
    background-color: white;
  }
}

.open-nav {
  display: block;
  .mobile-toggle {
    span {
      &:nth-child(1) {
        position: relative;
        top: 4px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      &:nth-child(2) {
        position: relative;
        display: none;
      }
      &:nth-child(3) {
        position: relative;
        top: -5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
  .nav {
    padding: 20px;
    height: 500px;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}


.main-nav {
  @include small {
    width: 100%;
  }
  ul {
    list-style: none;
    overflow: hidden;
    text-align: center;
    @include small {
      padding-top: 10px;
      margin-bottom: 22px;
      text-align: center;
      width: 100%;

    }
    li {
      display: inline-block;
      float: left;
      margin-left: 35px;
      line-height: 1.5;
      @include small {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
    a {
      color: #444444;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 27px;
      text-decoration: none;
      font-weight: 600;
    }
    a.active {
      color: #5a9dea;
    }
  }
}

.sign-nav {
  margin-left: 250px;
  display: flex;
  align-items: center;
  .btn {
    margin-left: 20px;
  }
  form {
    display: inline-block;
    select {
      border: none;
      font-size: 14px;
      color: #429fcb;
      text-transform: uppercase;
      font-weight: 700;
      outline: none;
    }
  }
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  @include small {
    display: block;
  }
  span {
    width: 30px;
    height: 3px;
    margin-bottom: 6px;
    border-radius: 1000px;
    display: block;
    background-color: #414141;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//media
@media only screen and (max-width: 1680px) {
  .sign-nav {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1400px) {
  header {
    padding: 0 20px;
  }
  .sign-nav {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  header {
    padding: 0 10px;
  }
  .sign-nav {
    margin-left: 30px;
    .btn {
      margin-left: 10px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 12px;
    }
  }
  .main-nav ul li {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 992px) {
  header {
    display: block;
    height: auto;
    padding: 0;
  }
  .mobile-block {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    .logo {
      width: 20px;
      height: 30px;
      img {
        width: 20px;
        height: 30px;
      }
    }
  }
  .nav {
    background: #125697;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 9;
    form {
      position: absolute;
      top:0;
    }
    .main-nav {
      ul {
        li {
          margin-left: 0;
          a {
            color: white;
            font-size: 16px;
            font-weight: 600;
          }
          a.active {
            color: white;
          }
        }
      }
    }
    .sign-nav {
      display: block;
      width: 100%;
      margin: 0;
      a {
        display: block;
        margin-left: 0;
        border: none;
        margin-bottom: 15px;
      }
      .btn-login {
        width: 100%;
        font-size: 14px;
        background-color: white;
        text-align: center;
      }
      .btn-register {
        font-size: 14px;
        width: 100%;
        background: #429fcb;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .show-mobile {
    text-align: left;
  }
  .main-nav {
    ul {
      li {
        text-align: left;
      }
    }
  }
}
