@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800');
@import '_grid.scss';

@import '_header.scss';
@import '_buttons.scss';


div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  //font-family: 'Open Sans', sans-serif;
  //font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.85;
}



body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
}

//.container {
//  width: 1170px;
//  margin: 0 auto;
//}

.section {
  padding: 70px 0;
  h2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 45px;
  }
  .btn {
    margin-right: 20px;
  }
}

.section.center {
  text-align: center;
}

.section.right {
  text-align: right;
  .btn {
    margin-right: 0;
    margin-left: 20px;
  }
}

.section.left {
  text-align: left;
}

$green-color: #57cdd7;
$blue-color: #726bff;
$footer-color: #001826;
$gray-bg-color: #f2f2f2;
$contact-bg-color: #0f4166;





.welcome-banner {
  background: linear-gradient(rgba(3, 74, 126, 0.7), rgba(3, 74, 126, 0.7)),  url("../img/banner-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  h1 {
    font-size: 56px;
    color: white;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .cta-btn {
    margin-bottom: 100px;
  }
}

.become-reseller {
  background: url("../img/money.png") no-repeat 100% 100%, $green-color;
}

.sell-your-product {
  background: url("../img/euro.png") no-repeat 100% 100%, $blue-color;
}

.card {
  margin-bottom: 20px;
  padding: 45px 30px;
  border-radius: 12px;
  h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 30px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 2px;
      display: inline-block;
      background-color: white;
    }
  }
  p {
    margin-bottom: 35px;
  }
}


.choice-role {

}

.pimp-device {
  background: linear-gradient(rgba(65, 65, 65, 0.3), rgba(65, 65, 65, 0.3)), url("../img/pimp-devices-bg.png") 50% 50% no-repeat;
  background-size: cover;
}

.shop-tech-toys {
  background: url("../img/anim-bg2.png") no-repeat 5% 50%, url("../img/anim-bg3.png") no-repeat 95% 50%, $green-color;
}

.gym-ready-accessories {
  background: linear-gradient(rgba(65, 65, 65, 0.3), rgba(65, 65, 65, 0.3)), url("../img/gym-bg.png") no-repeat 50% 50%;
  background-size: cover;
}

.bluetooth-speakers {
  background: url("../img/anim-bg2.png") no-repeat 95% 50%, url("../img/anim-bg3.png") no-repeat 5% 50%, $blue-color ;
}

.awesome-gadgets {
  background: linear-gradient(rgba(65, 65, 65, 0.3), rgba(65, 65, 65, 0.3)), url("../img/gadgets-bg.png") no-repeat 50% 50%;
  background-size: cover;
  h2 span {
    display: block;

  }
}

.stay-updated {
  background-color: #f2f2f2;
  h2 {
    color: #444444;
  }
}

.contact {
  background: url("../img/contact-bg.png"), $blue-color;
  .cta-text-contact {
    padding-right: 25%;
  }
  .contact-list {
    list-style: none;
    li {
      padding-top: 80px;
    }
    h3 {
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    .email,
    .phone{
      color: rgba(255,255,255,.6);
      text-decoration: none;
      font-size: 13px;
      font-weight: 300;
    }
  }
  .contact-kazachstan {
    background: url("../img/clock-kazachstan.png") 0 0 no-repeat;
  }
  .contact-ukraine {
    background: url("../img/clock-ukraine.png") 0 0 no-repeat;
  }
  .contact-russia {
    background: url("../img/clock-russia.png") 0 0 no-repeat;
  }
}

form {
  .wrap-input {
    width: 545px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    margin: 0 auto;


    .border {
      height: 50px;
      width: 100%;
      border-top: solid 1px rgba(68,68,68,.7);
      border-left: solid 1px rgba(68,68,68,.7);
      border-bottom: solid 1px rgba(68,68,68,.7);
      border-radius: 10px 0 0 10px;
      overflow: hidden;
    }
    input {
      height: 100%;
      font-size: 18px;
      outline: none;
      border: none;
      width: 100%;
      padding: 10px 20px;
      background-color: #f2f2f2;
    }
    .cta-btn {
      height: 50px;
      padding: 16px 40px;
      border-radius: 0 10px 10px 0;
    }

  }
}

footer {
  background-color: $footer-color;
  text-align: center;
  padding: 30px 0;
  p {
    font-size: 13px;
    color: rgba(255,255,255,.35);
  }
}

//owl
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #f0b601;
}

