@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800');
@import '_grid.scss';

@import '_header.scss';
@import '_buttons.scss';


div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  //font-family: 'Open Sans', sans-serif;
  //font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.85;
  @media only screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 26px;
  }
}



body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
}

//.container {
//  width: 1170px;
//  margin: 0 auto;
//}

.section {
  padding: 70px 0;
  h2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 45px;
  }
  .btn {
    margin-right: 20px;
  }
  @media all and ( max-width: 992px ) {
    padding: 60px 0 40px;
    h2 {
      font-size: 24px;
      line-height: 34px;
    }
    p {
      margin-bottom: 40px;
    }
  }
}

.section.center {
  text-align: center;
  .btn {
    margin-right: 0;
  }
}

.section.right {
  text-align: right;
  .btn {
    margin-right: 0;
    margin-left: 20px;
  }
}

.section.left {
  text-align: left;
}

$green-color: #57cdd7;
$blue-color: #726bff;
$footer-color: #001826;
$gray-bg-color: #f2f2f2;
$contact-bg-color: #0f4166;





.welcome-banner {
  background: linear-gradient(rgba(3, 74, 126, 0.7), rgba(3, 74, 126, 0.7)),  url("../img/banner-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  h1 {
    font-size: 56px;
    color: white;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .cta-btn {
    margin-bottom: 100px;
  }
  @media all and ( max-width: 992px ) {
    padding: 60px 0 30px;

    .col-1-2 {
      width: 100%;
    }
    h1 {
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 40px;
    }
    .cta-btn {
      margin-bottom: 30px;
    }
  }
}

.become-reseller {
  background: url("../img/money.png") no-repeat 100% 100%, $green-color;
}

.sell-your-product {
  background: url("../img/euro.png") no-repeat 100% 100%, $blue-color;
}

.card {
  margin-bottom: 20px;
  padding: 45px 30px;
  border-radius: 12px;
  h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 30px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 2px;
      display: inline-block;
      background-color: white;
    }
  }
  p {
    margin-bottom: 35px;
  }
  @media all and ( max-width: 992px ) {
    padding: 45px 30px 25px;
    h2 {
      font-size: 22px;
      line-height: 34px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
}


.choice-role {

}

.pimp-device {
  background: linear-gradient(rgba(65, 65, 65, 0.3), rgba(65, 65, 65, 0.3)), url("../img/pimp-devices-bg.png") 50% 50% no-repeat;
  background-size: cover;
}

.shop-tech-toys {
  background: url("../img/anim-bg2.png") no-repeat 5% 50%, url("../img/anim-bg3.png") no-repeat 95% 50%, $green-color;
}

.gym-ready-accessories {
  background: linear-gradient(rgba(65, 65, 65, 0.3), rgba(65, 65, 65, 0.3)), url("../img/gym-bg.png") no-repeat 50% 50%;
  background-size: cover;
}

.bluetooth-speakers {
  background: url("../img/anim-bg2.png") no-repeat 95% 50%, url("../img/anim-bg3.png") no-repeat 5% 50%, $blue-color ;
}

.awesome-gadgets {
  background: linear-gradient(rgba(65, 65, 65, 0.3), rgba(65, 65, 65, 0.3)), url("../img/gadgets-bg.png") no-repeat 50% 50%;
  background-size: cover;
  h2 span {
    display: block;

  }
}

.stay-updated {
  background-color: #f2f2f2;
  h2 {
    color: #444444;
  }
  .form-subscribe {
    .wrap-input {
      width: 545px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin: 0 auto;
      .border {
        height: 50px;
        width: 100%;
        border-top: solid 1px rgba(68,68,68,.7);
        border-left: solid 1px rgba(68,68,68,.7);
        border-bottom: solid 1px rgba(68,68,68,.7);
        border-radius: 10px 0 0 10px;
        overflow: hidden;
      }
      input {
        height: 100%;
        font-size: 18px;
        outline: none;
        border: none;
        width: 100%;
        padding: 10px 20px;
        background-color: #f2f2f2;
        font-family: 'Open Sans', sans-serif;
      }
      .cta-btn {
        height: 50px;
        padding: 16px 40px;
        border-radius: 0 10px 10px 0;
      }
    }
  }
  @media all and ( max-width: 992px ) {
    padding: 60px 0;
    .form-subscribe {
      .wrap-input {
        max-width: 100%;
        .cta-btn {
          margin-bottom: 0;
          padding: 16px;
        }
        input {
          font-size: 16px;
        }
      }
    }
  }
  @media all and ( max-width: 768px ) {
    background-color: white;
    .form-subscribe .wrap-input input {
      background-color: white;
    }
  }
}

.contact {
  background: url("../img/contact-bg.png"), $blue-color;
  .cta-text-contact {
    padding-right: 25%;
  }
  .contact-list {
    list-style: none;
    li {
      padding-top: 80px;
    }
    h3 {
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    .email,
    .phone{
      display: block;
      color: rgba(255,255,255,.6);
      text-decoration: none;
      font-size: 13px;
      font-weight: 300;
    }
  }
  .contact-kazachstan {
    background: url("../img/clock-kazachstan.png") 0 0 no-repeat;
  }
  .contact-ukraine {
    background: url("../img/clock-ukraine.png") 0 0 no-repeat;
  }
  .contact-russia {
    background: url("../img/clock-russia.png") 0 0 no-repeat;
  }
  @media all and ( max-width: 992px ) {
    .col-1-2 {
      width: 100%;
    }
    .cta-text-contact {
      padding-right: 0;
    }
    .contact-list {
      h3, .email, .phone {
        text-align: center;
      }
      .contact-kazachstan,
      .contact-ukraine,
      .contact-russia {
        background-position: 50% 0 ;
      }
    }
  }
  @media all and ( max-width: 768px ) {
    padding: 60px 0 0;
    .contact-list {
      .contact-kazachstan,
      .contact-ukraine,
      .contact-russia {
        margin-bottom: 40px;
      }
    }
    .offset-small {
      margin-left: 25%;
    }
  }
}




footer {
  background-color: $footer-color;
  text-align: center;
  padding: 30px 0;
  p {
    font-size: 13px;
    color: rgba(255,255,255,.35);
  }
}

//owl
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #f0b601;
}




//our-brands

.title-page {
  background: linear-gradient(rgba(3, 74, 126, 0.8), rgba(3, 74, 126, 0.8)), url("../img/brands-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding: 88px 0 77px;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
  @media all and ( max-width: 768px ) {
    padding: 40px 0;
    h1 {
      font-size: 24px;
    }
  }
}

.our-brands, .gadgets-and-tech {
  padding: 80px 0;
  h2 {
    font-size: 40px;
    font-weight: 600;
    color: #414141;
    margin-bottom: 50px;
  }
  .description-gadgets {
    padding: 50px 0;
    border-top: solid 2px #eeeeee;
    border-bottom: solid 2px #eeeeee;
    p {
      font-size: 16px;
      color: #414141;
      max-width: 680px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 35px 0;

    h2 {
      font-size: 22px;
      margin-bottom: 30px;
    }
    .description-gadgets {
      padding: 25px 0;
    }
  }
  .list-brands {
    padding: 80px 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    li {
      display: block;
      width: 12.5%;
      padding: 15px;
      a {
        display: block;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50%;
        padding-bottom: 50%;
        border: solid 1px #bbbbbb;
        border-radius: 4px;
        position: relative;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 90%;
        height: auto;
      }
    }
    @media all and ( max-width: 992px ) {
      li {
        width: 16.66%;
        padding: 10px;
      }
    }
    @media all and ( max-width: 768px ) {
      padding: 0;
      li {
        width: 25%;
        padding: 10px;
      }
    }
    @media all and ( max-width: 450px ) {
      li {
        width: 33.33%;
        padding: 10px;
      }
    }
  }
  @media all and ( max-width: 768px ) {
    background-color: #f4f6f9;
  }
}

.list-gadgets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
  margin-left: -10px;
  margin-right: -10px;
  li {
    display: block;
    width: 33.33%;
    margin: 0 auto;
    padding: 10px;
    a {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50%;
      padding-bottom: 50%;
      position: relative;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: auto;
    }
  }
}

//
.our-company {
  .wrap-content {
    //padding: 80px 0;
    .container {
      max-width: 680px;
    }
  }
  .article {
    color: #414141;
    margin-bottom: 70px;
    overflow: hidden;
    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 600;
    }
    .article-wide-img {
      width: 100%;
      height: auto;

    }
    .basic-list {
      margin-bottom: 35px;
      li {
        list-style: none;
        position: relative;
        padding-left: 20px;
        margin-bottom: 20px;
        &:before {
          content: "";
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background-color: #ff9944;
          display: block;
          position: absolute;
          left: 0;
          top: 9px;
        }
      }
    }
    p {
      margin-bottom: 25px;
    }
    blockquote {
      overflow: hidden;
      margin: 0 0 45px 0;
      .text-blockquote {
        padding: 20px 50px;
        position: relative;
        margin-bottom: 20px;
        &:before, &:after {
          content: "";
          position: absolute;
          width: 18px;
          height: 15px;
          display: block;
        }
        &:before {
          background: url("../img/blockquote-start.png") no-repeat 50% 50%;
          left: 0;
          top:0;
        }
        &:after {
          background: url("../img/blockquote-end.png") no-repeat 50% 50%;
          right: 0;
          bottom:0;
        }
      }
      cite {
        float: right;
        font-style: normal;
        display: inline-block;
        padding-left: 50px;
        background: url("../img/cite.png") 0 50% no-repeat;
        p {
          margin-bottom: 0;
          line-height: 1;
        }
        span {
          font-size: 12px;
        }
      }
    }
    .list-gadgets {
      margin-bottom: 0;
    }

  }
  @media only screen and (max-width: 768px) {
    .wrap-content {
      background-color: #f4f6f9;
      //padding: 40px 0;
      h2 {
        margin-bottom: 20px;
      }
      .basic-list {
        font-size: 16px;
      }
      blockquote {
        .text-blockquote {
          padding: 20px;
        }
      }
      .article-wide-img {
        height: 150px;
        width: auto;
      }
    }
  }
  @media only screen and (max-width: 450px) {
    .wrap-content {
      .list-gadgets {
        li {
          width: 100%;
        }
      }
    }
  }
}



